body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.signup{
  margin-left: 10px;
}
.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}
#wifi-loader {
  --background: #62abff;
  --front-color: #4f29f0;
  --back-color: #c3c8de;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
  height: 86px;
  width: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
  height: 60px;
  width: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
  height: 34px;
  width: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#wifi-loader .text::before, #wifi-loader .text::after {
  content: attr(data-text);
}

#wifi-loader .text::before {
  color: var(--text-color);
}

#wifi-loader .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}
.loader {
  transform: translateX(750px) translateY(400px);
  width: 100px;
  height: 45px;
  position: fixed;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #545454;
  box-shadow: 0 0 0 50px;
  clip-path: polygon(-50px -20px,10% -12px,20% 0,calc(50% - 15px) 0,calc(50% - 10px) -20px,calc(50% - 8px) -15px,calc(50% + 8px) -15px,calc(50% + 10px) -20px,calc(50% + 15px) 0,80% 0,90% -12px,calc(100% + 50px) -20px,100% 80%,calc(100% + 10px) calc(100% + 10px),60% 100%,50% calc(100% + 15px),40% 100%,-10px calc(100% + 10px),0 80%);
}

.loader:after {
  animation: l9 1s infinite;
  transform: perspective(300px) translateZ(0px)
}

@keyframes l9 {
  to {
    transform: perspective(300px) translateZ(100px);
    opacity: 0
  }
}

.dropdowns1{
  position: absolute;
  /*transform: translateX(-215px) ;*/
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  list-style: outside none none;
  max-height: 294px;
  overflow: auto;
  padding-left: 0;
  right: -50px;
  text-align: left;
  top: 42px;
  width: 260px;
  /*opacity: 0;*/
  /*visibility: hidden;*/
  transition: all 0.3s linear 0s;
}
  #dropdowns2{
    position: absolute;
  }
#div-img-profile{
  width: 100px;
}
.drops-menu1 {
  list-style: outside none none;
  padding-left: 0;
}
.drops-menu1 > li {
  display: inline-block;
  position: relative;
  width: 100%;
}
.drops-menu1 > li a img {
  display: inline-block;
  max-width: 16.7%;
  vertical-align: top;
  width: 16.7%;
  border-radius: 100%;
}
.mesg-meta {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  width: 81%;
}
.drops-menu1 > li > .tag {
  color: #fff;
  display: inline-block;
  font-size: 11px;
  padding: 0 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.dropdowns1 > span {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  width: 100%;
}
.dropdowns1.active > a {
  background: #fafafa none repeat scroll 0 0;
  display: block;
  font-size: 13px;
  margin-bottom: 2px;
  padding: 5px 10px;
  text-align: center;
}
.dropdowns1.active {
  opacity: 1;
  visibility: visible;
}
/*a:-webkit-any-link {*/
/*  color: -webkit-link;*/
/*  cursor: pointer;*/
/*  !*text-decoration: underline;*!*/
/*}*/
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: '. . . ?';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.button:hover span {
  padding-right: 2.55em;
}

.button:hover span:after {
  opacity: 4;
  right: 0;
}
#nav-fix{
  position: fixed;
  width: 100%;
}
#body-scroll{
  overflow-x: hidden;
  height: 3000px;
}
#body-scroll::-webkit-scrollbar {
  display: none;
}
.merge{
  display: flex;
}
.form-group{
  padding-right: 20px;
}
.form-radio{
  width: 400px;
}
#radio-2{
  margin-left: 20px;
}
#img-profile{
  transform: translateX(1322px) translateY(-22px);
  width: 42px;
  height: 42px;
  margin-top: -20px;
  border: 3px solid grey;
}
.user-img{
  margin-bottom: -50px;
  padding: 10px;
}
.top-area{
  transform: translateX(-200px) ;
}

.top-area .er-imgus {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: 60px;
  
}
.top-area .user-img > span.status {
  bottom: 10px;
  right: 5px;
}
/*.top-area > span.main-menu {*/
/*  cursor: pointer;*/
/*  display: inline-block;*/
/*  font-size: 20px;*/
/*  margin-left: 20px;*/
/*  margin-right: -10px;*/
/*  vertical-align: inherit;*/
/*}*/
.top-area .user-img > img {
  border-radius: 50%;
  display: inline-block;
  transform: scale(0.7);
  vertical-align: inherit;
}
.user-setting {
  background: #fff none repeat scroll 0 0;
  border-radius: 0 0 3px 3px;
  position: absolute;
  left: -15px;
  text-align: left;
  top: 100%;
  width: 150px;
  opacity: 0;
  visibility: hidden;
  line-height: initial;
  border: 1px solid #e1e8ed;
  transform: translateX(-30px) translateY(20px) ;
}
#search-form-header{
  border: hidden;
  background-color: white;
  transform: translateX(-9px) translateY(0px) ;
  color: grey;
}
#search-form-header-modal{
  border: 1px solid grey;
  transform: translateX(-9px) translateY(0px) ;
  border-radius: 14px;
  height: 30px;
}
#div-search-list-modal{
  margin-left: 30px;
}
.menu-button-cmt{
  border: hidden;

  background-color: white;
  color: #595757;
  transform: translateX(540px) translateY(-20px);
  position: absolute;
}
.menu-div-cmt{
  transform: translateX(390px) translateY(-30px);
  /*background-color: #262323;*/
  /*border: 1px solid #0e0e0e;*/
}
.menu-cmt{
  width: 150px;
  display: block;
  position: absolute;
  border: 1px solid #b2b2b2;
  background-color: white;
  border: hidden;
  border-radius: 5px;
}
.button-menu-1{
  /*background-color: white;*/
  border: hidden;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-right: 64px;

}
#update-cmt{
  border: hidden;
  width: 100%;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#update-cmt{
  border: hidden;
  width: 100%;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.save-cmt-post{
  border: hidden;
  background-color: #0a98dc ;
  border-radius: 10px;
  color: white;
  transform: translateX(520px) translateY(-35px);
}
.sent-icon {
  transform: translateX(-10px) translateY(-10px);
}
.friend-image-avatar-modal{
  width: 50px;
  height: 50px;
  border: 2px solid grey;
}
#cancel-request{
  background-color: white;
  color: black;
}
#search-form-modal{
  border: hidden;
  background-color: white;
  transform: translateX(-45px) translateY(0px) ;
  color: grey;
}
#input-search-hearder{
  height: 32px;
  border-radius: 14px;
  border: 1px solid grey;
}

.user-setting.active {
  opacity: 1;
  visibility: visible;
}
#form-search-list-friend{
  position: absolute;
  width: 400px;
}
#fiend-from-123{
  width: 400px;
}
.user-setting > a {
  display: inline-block;
  font-size: 13px;
  padding: 10px 15px;
  text-transform: capitalize;
  width: 100%;
  background: #fafafa;
  position: relative;
}

.user-setting .status {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.user-setting > a i {
  color: #999;
  font-size: 12px;
  margin-right: 8px;
}

.user-setting > a:hover {
  background: #f1f1f1;
}
.user-setting{
   margin-left: 1350px;
  border-radius: 20px;
}
#hv-1{
  margin-left: 10px;
}
#img-post-account{
  width: 50px;
  height: 50px;
  border: 3px solid grey;
}
#profile-scroll{
  overflow-y: scroll;
  height: 1500px;
}
#img-logged{
  width: 50px;
  height: 50px;
}
.remove-image {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  border-radius: 50%;
  padding: 4px;
  margin: 4px;
  transform: translateX(-27px) translateY(220px);
}
.remove-image-update {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  border-radius: 50%;
  padding: 4px;
  margin: 4px;
  transform: translateX(-27px) translateY(220px);

}
.modal-dialog-1{
  transform: translateX(365px) ;
  width: 800px;
margin-top: 60px;
}
.chatting-area{
  overflow-x: scroll;
  width: 600px;
}
.message-text-container{
  position: fixed;
  transform:  translateY(-35px);
}
.messenger-avatar-modal{
  width: 43px;
  height: 43px;
  border: 2px solid grey;
}
.content-and-name{
  display: block;
  height: 45px;
}
.name-user-modal{
  color: black;
}
.content-user-modal{
  color: grey;
}
.li-peoples-modal{
  border-top: 1px solid #d5d5d5;
  /*border-right: 1px solid #d5d5d5;*/
}
.peoples{
  border-right:1px solid #d5d5d5 ;
}
.avatar-from-user-modal{
  width: 33px;
  height: 33px;
  border: 1px solid grey;
}
.img-modal-touser{
  height: 48px;
  width: 48px;
}
#send-message{
  transform: translateX(490px) translateY(-42px);
  width: 50px;
  height: 30px;
  border-radius: 10px;
}
#home-nav-bar{
  transform: translateX(-100px) translateY(0px);
}
.li-nav-bar-icon{
width: 200px;
}
#likeok{
  color: red;
}
#bi-x-square{
  width: 23px;
  height: 23px;
}
.res-menu ul.mm-listview > li,
.res-menu ul.mm-listview > li span {
  text-transform: uppercase;
  font-size: 12px;
}
.menu,
.menu .btn .fa,
.menu .btn.trigger .line {
  color: #fff;
  line-height: 25px;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
}

.menu {
  width: 2em;
  height: 2em;
  z-index: 2;
}
.img-message-friend{
  width: 40px;
  height: 40px;
  border: 1px solid grey;
}
#div-message-view-more{
  text-align: center;
  color: #0a98dc;
}
.menu .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #111;
  opacity: 0;
  z-index: -10;
  cursor: pointer;
  padding: 0;
  border: none;
  font-size: 13px;
  -webkit-transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
  transition: opacity 1s, z-index 0.3s, transform 1s;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.menu-button-post{
  border: hidden;
  background-color: white;
  color: #000000;
  transform: translateX(620px) translateY(-35px);
  position: absolute;
}
.menu-div-post{
  transform: translateX(492px) translateY(-10px);
}
.menu-post{
  width: 150px;
  display: block;
  position: absolute;
  border: 1px solid #b2b2b2;
  background-color: white;
  border: hidden;
  border-radius: 5px;
}
/*.menu-post > :hover {*/
/*  box-shadow: 0 8px 8px #bbb9b9;*/
/*  border-color: transparent;*/
/*  !*border-radius: 20px;*!*/
/*}*/
.button-menu-1{
background-color: white;
  border: hidden;
}

#status-name{
  position: absolute;
  transform: translateX(-390px) translateY(26px);
  font-size: 13px;
  border: hidden;
  width: 20px;
  text-align: center;
  height: 20px;
  border-radius: 2px;
  background-color: white;
  color: grey;
}
#account-post-avatar{
  width: 45px;
  height: 45px;
  transform: translateX(20px) translateY(30px);
  border: 3px solid grey;
}

#post-content{
  color: black;
  margin-bottom:-10px;
  height: 50px;
  border: hidden;
  border-radius: 15px;
}
#update-post-content{
  color: black;
  margin-bottom:-10px;
  height: 50px;
  border: hidden;
  border-radius: 15px;
}
.attachments{
  border: hidden;
}
#central-post{
  padding: 2px;
}
#post-content-1{
  width: 100%;
  height: 40px;
  text-align: left;
  background-color: #e6e8ee;
  color: #7e7d7d;
  /*border: 1px solid #bdbcbc;*/
  border-radius: 20px;
  margin-top: 32px;
}
.modal-title {
  margin-left: 150px;
  color: black;
}
/*.modal {*/
/*  background-color: rgba(255, 255, 255, 0.23); !* Một lớp mờ phía sau modal *!*/
/*}*/
.modal-content{
  border-radius: 10px;
}
#post-post{
  width: 100%;
  height: 35px;
  border: hidden;
  background-color: #38B6FF;
  color: white;
  border-radius: 5px;
}
#post-post-edit{
  width: 100%;
  height: 35px;
  border: hidden;
  background-color: #38B6FF;
  color: white;
  border-radius: 5px;
}
#change-file-img{
  /*border: 0px solid #bebebe;*/
  border-radius: 5px;
  width: 92%;
  margin-left: 20px;
  -webkit-box-shadow: 0 0 10px #b7b7b7;
}
/*.fa-image{*/
/*  margin-right: 30px;*/
/*}*/
.fileContainer1 {
  color: #d8d8d8;
  font-size: 11px;
  margin: 0 0 0 5px;
  position: relative;
  text-transform: capitalize;
}
.fileContainer1 [type=file] {
  cursor: pointer;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  right: 0px;
  text-align: right;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.edit-phto .fileContainer1 [type="file"] {
  height: 35px;
  top: -11px;
  width: 126px;
}
.attachments .fileContainer1 [type="file"] {
  right: 6px;
  top: -18px;
  width: 20px;
}
#modal-avatar{
  margin-top: 10px;
  margin-bottom: -20px;
  display: flex;
  width: 100%;
  /*padding: 0px;*/
}
#account-post-avatar-2{
  width: 45px;
  height: 45px;
  margin-left: 20px;

  /*transform: translateX(20px) translateY(30px);*/
  border: 3px solid grey;
  border-radius: 50%;
}
#h5-modal{
  /*transform: translateX(25px) translateY(25px);*/
  margin-left: 10px;
  position: absolute;
  color: black;
}
#modal-avatar-fill{
  display: block;
}
#status-select{
  transform: translateX(10px) translateY(25px);
  height: 22px;
  background-color: #eeeeee;
  color: black;
  border-radius: 5px;
  border: hidden;
  font-size: 12px;
}
#status-select-update{
  transform: translateX(10px) translateY(25px);
  height: 22px;
  background-color: #eeeeee;
  color: black;
  border-radius: 5px;
  border: hidden;
  font-size: 12px;
}
#selectedImage{
  margin-left: 27px;
  width: 445px;
  height: 220px;
}
#selectedImageUpdate{
  margin-left: 27px;
  width: 445px;
  height: 220px;
}
#icon-post-img{
  color: #2ab74b;
}
#icon-post-video{
  color: red;
}
#icon-post-camera{
  color: #1b78c7;
}
/*#logout-header{*/
/*  background-color: white;*/
/*  border: hidden;*/
/*  color: #777676;  */
/*  font-size: 14px;*/
/*  margin-left: 8px;*/
/*  margin-bottom: 10px;*/
/*}*/
.scroll-comment{
  overflow-x: hidden;
  height: 200px;
}
.scroll-comment::-webkit-scrollbar {
  display: none;
}
#post-content-2{
  color: black;
}
.description{
  /*padding: -20px;*/
}
#change-file-img ul li h6{
  margin-right: 200px;
}
#navbar-post{
  display: flex;
}
#navbar-post div{
  width: 33%;
  text-align: left;
}
#post-icon-music{
  color: pink;
}
#post-icon-camera{
  color: #1b78c7;
}
#post-icon-video{
  color: red;
}
#post-icon-img{
  color: #2ab74b;
}
#gray-bg{
  background-color: #e2e2ea;
}